{% extends 'base.html' %} {% block content %}
<main class="contact">
  <h1 class="contact__title">Te asesoramos de forma personalizada.</h1>
  <p class="contact__p">
    Estudiamos las características de tu negocio o vivienda para ofrecerte la
    solución óptima que te permita obtener el mayor ahorro.
  </p>
  <p class="contact__p">
    Ponte en contacto con nosotros para comenzar a trabajar juntos en un mundo
    más sostenible y eficiente.
  </p>
  <img src="/public/images/random.svg" alt="random" />

  <div class="form-container">
    <h2 class="title">Contacta con nosotros</h2>
    <div class="socials">
      <p>
        <img src="/public/images/a1.svg" alt="icon one" />Bartolomé de Medina,
        7, Bajo, 41004, Sevilla.
      </p>
      <p>
        <img src="/public/images/a3.svg" alt="icon three" />info@globestone.es
      </p>
      <p><img src="/public/images/a2.svg" alt="icon two" />(+34) 649 984 123</p>
    </div>
    <p class="r">También puedes dejarnos tus datos y te llamaremos.</p>
    <form action="">
      <div class="inputs">
        <div class="input">
          <input class="text" type="text" name="name" placeholder="Nombre" />
        </div>
        <div class="input">
          <input class="text" type="text" name="name" placeholder="Apellidos" />
        </div>
        <div class="input">
          <input class="text" type="text" name="name" placeholder="Teléfono" />
        </div>
        <div class="input">
          <input class="text" type="text" name="name" placeholder="Mail" />
        </div>
        <div class="input">
          <input class="text" type="text" name="name" placeholder="Provincia" />
        </div>
      </div>

      <div class="checks">
        <p class="header">¿Qué servicios te interesan?</p>

        <div class="checks__list">
          <div class="checkbox">
            <label class="label">
              <input type="checkbox" name="service" />
              <span class="checkmark"></span>
              <span class="text">Tejas solares </span>
            </label>
          </div>

          <div class="checkbox">
            <label class="label">
              <input type="checkbox" name="service" />
              <span class="checkmark"></span>
              <span class="text">Tejas solares </span>
            </label>
          </div>

          <div class="checkbox">
            <label class="label">
              <input type="checkbox" name="service" />
              <span class="checkmark"></span>
              <span class="text">Tejas solares </span>
            </label>
          </div>
        </div>
      </div>

      <textarea class="textarea" name="" placeholder="Mensaje"></textarea>
      <input
        type="submit"
        value="Enviar"
        class="btn btn-primary btn-block btn-right"
      />
    </form>
  </div>
</main>

<div class="whatsapp">
  <img src="/public/images/yellow-w.svg" alt="icon for whatsapp" />
  <p>Escríbenos por WhatsApp haciendo click aquí</p>
</div>

<div class="more-socials">
  <img src="/public/images/solarx.png" alt="solar" />
  <p>
    Siguenos para estar al tanto de todas las novedades sobre energías
    renovables.
  </p>
  <div class="socials">
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-l.png"
      alt="linkein logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-i.png"
      alt="instagram logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-f.png"
      alt="facebook logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-t.png"
      alt="twitter logo green"
    />
  </div>
</div>
{% endblock %}
