{% extends 'base.html' %}
{% block content %}

	<div class="legal">
		<h2>
			<strong>POLÍTICA DE COOKIES</strong>
		</h2>
		<p>
			<strong></strong>
		</p>
		<p>
			<strong></strong>
		</p>
		<p>
			<strong></strong>
		</p>
		<ol>
			<li>
				<strong></strong>
				<strong>
					<span>INFORMACIÓN SOBRE COOKIES</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>
				Debido a la entrada en vigor de la referente modificación de la “Ley de Servicios de la Sociedad de la Información” (LSSICE) establecida por el Real Decreto 13/2012, es de obligación obtener el consentimiento expreso del usuario
								            de todas las páginas web que usan cookies prescindibles, antes de que éste navegue por ellas.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<ol start="2">
			<li>
				<strong></strong>
				<strong>
					<span>¿QUÉ SON LAS COOKIES?</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>
				Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o píxeles, son herramientas empleadas por los servidores Web para almacenar y recuperar información acerca de sus visitantes, así como para
								            ofrecer un correcto funcionamiento del sitio.
			</span>
		</p>
		<p>
			<span>
				Mediante el uso de estos dispositivos se permite al servidor Web recordar algunos datos concernientes al usuario, como sus preferencias para la visualización de las páginas de ese servidor, nombre y contraseña, productos que más
								            le interesan, etc.
			</span>
		</p>
		<p>
			<strong>
				<span></span>
			</strong>
		</p>
		<ol start="3">
			<li>
				<strong></strong>
				<strong>
					<span>COOKIES AFECTADAS POR LA NORMATIVA Y COOKIES EXCEPTUADAS</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>
				Según la directiva de la UE, las cookies que requieren el consentimiento informado por parte del usuario son las cookies de analítica y las de publicidad, quedando exceptuadas las de carácter técnico y las necesarias para el
								            funcionamiento del sitio web o la prestación de servicios expresamente solicitados por el usuario.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<ol start="4">
			<li>
				<strong></strong>
				<strong>
					<span>ENTIDAD QUE GESTIONA LAS COOKIES</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>Según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan, podemos distinguir:</span>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies propias</span>
				</strong>
				<span>: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.</span>
			</li>
			<li>
				<strong>
					<span>Cookies de terceros</span>
				</strong>
				<span>: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.</span>
			</li>
		</ul>
		<p>
			<span>
				En el caso de que las cookies sean instaladas desde un equipo o dominio gestionado por el propio editor, pero la información que se recoja mediante éstas sea gestionada por un tercero, no pueden ser consideradas como cookies
								            propias.
			</span>
		</p>
		<p>
			<strong>
				<span></span>
			</strong>
		</p>
		<ol start="5">
			<li>
				<strong></strong>
				<strong>
					<span>COOKIES QUE SE UTILIZAN EN ESTE SITIO WEB</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>En esta página web se utilizan los siguientes tipos de cookies:</span>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies de análisis</span>
				</strong>
				<span>
					: Son aquéllas que nos permiten cuantificar el número de usuarios, así como la medida y análisis estadístico de la utilización que hacen los usuarios del servicio ofrecido. Para ello se analiza su navegación en nuestra
										                página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.
				</span>
			</li>
		</ul>
		<p>
			<span></span>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies técnicas</span>
				</strong>
				<span>: Son aquellas que permiten al usuario la navegación a través del área restringida y la utilización de sus diferentes funciones como, por ejemplo, llevar a cambio el proceso de compra de un artículo.</span>
			</li>
		</ul>
		<p>
			<strong>
				<span></span>
			</strong>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies de personalización</span>
				</strong>
				<span>
					: Son aquellas que permiten al usuario acceder al servicio con algunas características predefinidas, en función de una serie de criterios, en el terminal del usuario. Unos ejemplos de este tipo de cookie serian el idioma o
										                el tipo de navegador a través del cual se conecta al servicio.
				</span>
			</li>
		</ul>
		<p>
			<span></span>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies publicitarias</span>
				</strong>
				<span>
					: Son aquéllas que, bien tratadas por esta web o por terceros, permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al
										                contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.
				</span>
			</li>
		</ul>
		<p>
			<strong>
				<span></span>
			</strong>
		</p>
		<ul>
			<li>
				<strong>
					<span>Cookies sociales</span>
				</strong>
				<span>: son aquellas cookies necesarias para las redes sociales externas (Facebook, Google, Twitter, Pinterest, Instagram, etc…). Su función es controlar la interacción con los widgets sociales dentro de la página.</span>
			</li>
		</ul>
		<p>
			<span></span>
		</p>
		<ol start="6">
			<li>
				<strong></strong>
				<strong>
					<span>ACEPTACIÓN DE LA POLÍTICA DE COOKIES</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>Si pulsa el botón “aceptar” se asume que usted acepta el uso de cookies.</span>
		</p>
		<p>
			<span></span>
		</p>
		<ol start="7">
			<li>
				<strong></strong>
				<strong>
					<span>REVOCACIÓN DEL CONSENTIMIENTO PARA INSTALAR COOKIES</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>En cualquier momento puede revocar el consentimiento que previamente había concedido en relación con las cookies utilizadas en esta web eliminándolas como se indica en el siguiente punto.</span>
		</p>
		<p>
			<span></span>
		</p>
		<ol start="8">
			<li>
				<strong></strong>
				<strong>
					<span>COMO ELIMINAR LAS COOKIES DEL NAVEGADOR</span>
				</strong>
			</li>
		</ol>
		<p>
			<span>
				Puede usted, de forma manual, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones de su navegador. Puede encontrar información sobre cómo hacerlo, en relación con los navegadores más
								            comunes, en los enlaces que se identifican a continuación:
			</span>
		</p>
		<ul>
			<li>
				<span>Internet Explorer:
					<a href="https://support.microsoft.com/es-es/kb/278835">https://support.microsoft.com/es-es/kb/278835</a>
				</span>
			</li>
			<li>
				<span>Chrome:
					<a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a>
				</span>
			</li>
			<li>
				<span>Firefox:
					<a href="https://support.mozilla.org/es/kb/Borrar%20cookies">https://support.mozilla.org/es/kb/Borrar%20cookies</a>
				</span>
			</li>
			<li>
				<span>Safari:
					<a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
				</span>
			</li>
			<li>
				<span>Opera:
					<a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
				</span>
			</li>
		</ul>
		<p>
			<span></span>
			<span style="font-size: 14px;"></span>
		</p>
		<ol start="9">
			<li>
				<span>MODIFICACIONES</span>
			</li>
		</ol>
		<p>
			<span>
				La página web se reserva el derecho de modificar la presente política de cookies en función de las exigencias legales, o inclusión o exclusión de nuevas cookies. Por esta razón aconsejamos a los usuarios que la visiten
								            periódicamente. Cuando se produzcan cambios significativos en esta política de cookies se procederá a comunicar tal circunstancia bien a través de la misma web o a través de correo electrónico a los usuarios registrados.
			</span>
		</p>
		<p>
			<span>Ultima modificación: 18 de marzo 2020</span>
		</p>
		<p>
			e a derecho.<br/>
				<strong></strong>
			</p>
		</div>


	{% endblock content %}

