{% extends 'base.html' %}
{% block content %}
	<div class="legal">
		<h2>
			<strong>POLÍTICA DE PRIVACIDAD</strong>
		</h2>
		<p>
			<strong></strong>
		</p>
		<p>
			<strong></strong>
		</p>
		<p>
			<strong>
				<span>NOSOTROS Y SU PRIVACIDAD</span>
			</strong>
		</p>
		<p>
			<span>
				Si es cliente o suscriptor de nuestra lista de correo, o simplemente visita nuestro sitio web, esta política de privacidad le es de aplicación. El responsable del tratamiento de sus datos es GLOBESTONE DESARROLLOS ENERGETICOS,
							            S.L. -de ahora en adelante, La Empresa-, provista de CIF: B-05.282.553.
			</span>
		</p>
		<ul>
			<li>
				<span></span>Dirección:
				<span>Bartolomé de Medina, num. 7 Bajo</span>
			</li>
			<li>
				<span></span>Teléfono de contacto:
				<span>649984123</span>
			</li>
			<li>
				<span></span>Email de contacto:
				<span>guigomi@globestone.es</span>
			</li>
		</ul>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>NUESTRAS RESPONSABILIDADES</span>
			</strong>
		</p>
		<p>
			<span>
				Si usted es un cliente, visitante de nuestro sitio web o destinatario de nuestra newsletter, actuamos como el responsable del tratamiento de sus datos personales. Esto significa que determinamos cómo y por qué se procesan sus
							            datos.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>SUS RESPONSABILIDADES</span>
			</strong>
		</p>
		<p>
			<span>Lea esta Política de Privacidad.</span>
		</p>
		<p>
			<span>Si usted es nuestro cliente, también verifique los contratos entre nosotros: pueden contener más detalles sobre cómo recopilamos y procesamos sus datos.</span>
		</p>
		<p>
			<span>
				Si nos proporciona información personal acerca de otras personas, o si otros nos brindan su información, solo la usaremos por el motivo específico para el cual nos fue proporcionada. Al enviar la información, usted confirma que
							            tiene el derecho de autorizarnos a procesarla en su nombre de acuerdo con esta Política de privacidad.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>¿CUÁNDO Y CÓMO RECOPILAMOS SUS DATOS?</span>
			</strong>
		</p>
		<p>
			<span>Desde el primer momento en que interactúas con nosotros, estamos recopilando datos. A veces nos proporciona datos de forma manual y en otras ocasiones se recopilan de forma automática.</span>
		</p>
		<p>
			<span>Aquí es cuándo y cómo hacemos esto:</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Datos que nos facilita</u>: nos llama por teléfono, nos manda un email, firma contratos y emisión de facturas, compra de productos en nuestra tienda online.</li>
			<li>
				<span></span>
				<u>Datos que recogemos</u>: navegación y uso de la web, recibe nuestro email de marketing, firma contratos y emisión de facturas, compra de productos en nuestra tienda online.</li>
		</ul>
		<p>&nbsp;</p>
		<p>
			<strong>
				<span>TIPOS DE DATOS QUE RECOPILAMOS</span>
			</strong>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Detalles de contacto</u>: Su nombre y apellidos, dirección, número de teléfono, dirección de correo electrónico, etc.</li>
			<li>
				<span></span>
				<u>Datos sobre las compras que realices en nuestra tienda online</u>: Su nombre y apellidos, dirección, número de teléfono, dirección de correo electrónico, número de identificación fiscal, etc.</li>
			<li>
				<span></span>
				<u>Datos que lo identifican</u>: Su dirección IP, información de inicio de sesión, tipo de navegador y versión, configuración de zona horaria, tipos de plug-in de navegador, información de geolocalización sobre
									            dónde se encuentra, sistema operativo y versión, etc.
			</li>
			<li>
				<span></span>
				<u>Datos sobre cómo visita nuestro sitio web</u>: La ruta que recorre nuestra web, productos/servicios vistos, tiempos de respuesta de página, errores de descarga, cuánto tiempo permanece en nuestras páginas, qué
									            hace en esas páginas, con qué frecuencia y otras acciones, etc.
			</li>
		</ul>
		<p>&nbsp;</p>
		<p>
			<strong>
				<span>
					¿Y SUS DATOS REALMENTE CONFIDENCIALES?</span>
			</strong>
		</p>
		<p>
			<span>
				No recopilamos ningún dato sensible sobre usted (como origen racial o étnico, opiniones políticas, creencias religiosas/ filosóficas, afiliación sindical, datos genéticos, datos biométricos, datos de salud, datos sobre su vida u
							            orientación sexual o antecedentes penales) excepto cuando tenemos su consentimiento específico, o cuando tenemos que cumplir con la ley.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>¿MENORES DE EDAD?</span>
			</strong>
		</p>
		<p>
			<span>En nuestro Sitio Web nuestro cliente potencial no son los menores de edad, y no recopilamos a sabiendas ningún dato personal de ninguna persona menor de 16 años.</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>¿CÓMO Y POR QUÉ USAMOS SUS DATOS?</span>
			</strong>
		</p>
		<p>
			<span>
				Las leyes de protección de datos (Ley Orgánica de Protección de Datos y Reglamento General de Protección de Datos) prevén que solo podemos usar sus datos por ciertas razones y siempre y cuando tengamos una base legal para
							            hacerlo. Estos son los motivos por los cuales procesamos sus datos:
			</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Atención al cliente</u>: Le notificamos sobre cualquier cambio en nuestro servicio, resolviendo las dudas y cuestiones que se susciten por los interesados a través de soporte de chat en vivo, teléfono o correo
									            electrónico, así como procesar pagos y evitar transacciones fraudulentas.
			</li>
		</ul>
		<p>Base legal para este uso de datos: consentimiento inequívoco del individuo
			<span>y obligaciones contractuales</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Marketing (con su consentimiento)</u>: Enviando correos electrónicos y mensajes sobre nuevas productos, ofertas y servicios.</li>
		</ul>
		<p>Base legal para este uso de datos: consentimiento inequívoco del individuo</p>
		<ul>
			<li>
				<span></span>
				<u>Mejorar nuestro Sitio Web</u>: Funciones de prueba, interactuando con plataformas de feedback y cuestionarios, gestionando landing pages, mapeo de calor en nuestro sitio, optimización del tráfico y análisis e
									            investigación de datos, incluyendo el uso de perfiles y el aprendizaje automático y otras técnicas sobre sus datos y en algunos casos usando terceros para hacer esta.
			</li>
		</ul>
		<p>Base legal para este uso de datos: interés legítimo.</p>
		<p>&nbsp;</p>
		<p>
			<span>Esto es lo que significa cada una de estas “bases legales“:</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Consentimiento</u>: Usted ha dado un consentimiento claro para que procese sus datos personales para un propósito específico.</li>
		</ul>
		<p>No obstante, puede cambiar de opinión en cualquier momento, revocando el consentimiento otorgado previamente, remitiendo un correo electrónico a
			<span>guigomi@globestone.es</span>
		</p>
		<p>
			Si retira su consentimiento, y si no tenemos otra base legal para procesar su información, entonces dejaremos de procesar sus datos personales. Si tenemos otra base legal para procesar su información, entonces podemos continuar
					        haciéndolo sujeto a sus derechos legales.
		</p>
		<ul>
			<li>
				<span></span>
				<u>Obligaciones contractuales</u>: El procesamiento de sus datos es necesario para el cumplimiento eficaz y diligente del contrato que tenga suscrito con nosotros.</li>
			<li>
				<span></span>
				<u>Intereses legítimos</u>: El procesamiento de sus datos es necesario para nuestros intereses legítimos o los intereses legítimos de un tercero, siempre que esos intereses no sean superados por sus derechos e
									            intereses. Estos intereses legítimos son:
				<ul>
					<li>Permitiéndonos mejorar, personalizar o modificar nuestros servicios y comunicaciones</li>
					<li>Obteniendo información de su comportamiento en nuestro sitio web</li>
					<li>Determinar si las campañas de marketing son efectivas</li>
					<li>Mejorar la seguridad de los datos</li>
				</ul>
			</li>
		</ul>
		<p>En cada caso, estos intereses legítimos solo son válidos si no son superados por sus derechos e intereses.</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>SUS OPCIONES Y DERECHOS DE PRIVACIDAD</span>
			</strong>
		</p>
		<p>
			<strong>
				<span>Sus opciones</span>
			</strong>
		</p>
		<ol>
			<li>
				<u>Puede elegir no proporcionarnos datos personales</u>
			</li>
		</ol>
		<p>
			<span>Si elige hacer esto, puede continuar usando el sitio web y navegar por sus páginas, pero evidentemente no podremos procesar las solicitudes de información sin datos personales.</span>
		</p>
		<ol>
			<li>
				<u>Puede desactivar las cookies en su navegador cambiando su configuración</u>
			</li>
		</ol>
		<p>
			<span>
				Puede bloquear las cookies activando una configuración en su navegador que le permite rechazar las cookies. También puede eliminar las cookies a través de la configuración de su navegador. Si apaga las cookies, puede seguir
							            utilizando el sitio web y navegar por sus páginas, pero el sitio web no funcionará de manera totalmente efectiva. No obstante, para más información sobre nuestras cookies le recomendamos acceder a esta página.
			</span>
		</p>
		<ol>
			<li>
				<u>Puede pedirnos que no usemos sus datos para marketing</u>
			</li>
		</ol>
		<p>
			<span>
				Le informaremos (antes de recopilar sus datos) si tenemos la intención de utilizar sus datos para la comercialización y si hay terceros involucrados. En el caso de que haya consentido el uso publicitario de sus datos, en
							            cualquier momento puede solicitar el cese inmediato enviándonos un correo electrónico guigomi@globestone.es o desde el correo que reciba en la opción correspondiente.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>Sus derechos</span>
			</strong>
		</p>
		<p>
			<span>El Usuario tiene derechos sobre La Empresa y podrá, por tanto, ejercer frente al Responsable del tratamiento los siguientes derechos reconocidos en el Reglamento General de Protección de Datos (RGPD):</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Derecho de acceso</u>: Es el derecho del Usuario a obtener confirmación de si La Empresa está tratando o no sus datos personales y, en caso afirmativo, obtener información sobre sus datos concretos de carácter
									            personal y del tratamiento que La Empresa haya realizado o realice, así como, entre otra, de la información disponible sobre el origen de dichos datos y los destinatarios de las comunicaciones realizadas o previstas de los
									            mismos.
			</li>
			<li>
				<span></span>
				<u>Derecho de rectificación</u>: Es el derecho del Usuario a que se modifiquen sus datos personales que resulten ser inexactos o, teniendo en cuenta los fines del tratamiento, incompletos.</li>
			<li>
				<span></span>
				<u>Derecho de supresión («el derecho al olvido»)</u>: Es el derecho del Usuario, siempre que la legislación vigente no establezca lo contrario, a obtener la supresión de sus datos personales cuando estos ya no sean
									            necesarios para los fines para los cuales fueron recogidos o tratados; el Usuario haya retirado su consentimiento al tratamiento y este no cuente con otra base legal; el Usuario se oponga al tratamiento y no exista otro motivo
									            legítimo para continuar con el mismo; los datos personales hayan sido tratados ilícitamente; los datos personales deban suprimirse en cumplimiento de una obligación legal; o los datos personales hayan sido obtenidos producto de
									            una oferta directa de servicios de la sociedad de la información a un menor de 14 años. Además de suprimir los datos, el Responsable del tratamiento, teniendo en cuenta la tecnología disponible y el coste de su aplicación,
									            deberá adoptar medidas razonables para informar a los responsables que estén tratando los datos personales de la solicitud del interesado de supresión de cualquier enlace a esos datos personales.
			</li>
			<li>
				<span></span>
				<u>Derecho a la limitación del tratamiento</u>: Es el derecho del Usuario a limitar el tratamiento de sus datos personales. El Usuario tiene derecho a obtener la limitación del tratamiento cuando impugne la
									            exactitud de sus datos personales; el tratamiento sea ilícito; el Responsable del tratamiento ya no necesite los datos personales, pero el Usuario lo necesite para hacer reclamaciones; y cuando el Usuario se haya opuesto al
									            tratamiento.
			</li>
			<li>
				<span></span>
				<u>Derecho a la portabilidad de los datos</u>: En caso de que el tratamiento se efectúe por medios automatizados, el Usuario tendrá derecho a recibir del Responsable del tratamiento sus datos personales en un
									            formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento. Siempre que sea técnicamente posible, el Responsable del tratamiento transmitirá directamente los datos a ese otro
									            responsable.
			</li>
			<li>
				<span></span>
				<u>Derecho de oposición</u>: Es el derecho del Usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de La Empresa.</li>
			<li>
				<span></span>
				<u>Derecho a no ser a no ser objeto de una decisión basada únicamente en el tratamiento automatizado, incluida la elaboración de perfiles</u>: Es el derecho del Usuario a no ser objeto de una decisión
									            individualizada basada únicamente en el tratamiento automatizado de sus datos personales, incluida la elaboración de perfiles, existente salvo que la legislación vigente establezca lo contrario.
			</li>
		</ul>
		<p>
			<span>Así pues, el Usuario podrá ejercitar sus derechos mediante comunicación escrita dirigida al Responsable del tratamiento con la referencia «RGPD-Globestone», especificando:</span>
		</p>
		<ul>
			<li>
				<span></span>Nombre, apellidos del Usuario y copia del DNI. En los casos en que se admita la representación, será también necesaria la identificación por el mismo medio de la persona que representa al Usuario, así como el
									            documento acreditativo de la representación. La fotocopia del DNI podrá ser sustituida, por cualquier otro medio válido en derecho que acredite la identidad.
			</li>
			<li>
				<span></span>Petición con los motivos específicos de la solicitud o información a la que se quiere acceder.</li>
		</ul>
		<p>
			<span>Domicilio a efecto de notificaciones.</span>
		</p>
		<ul>
			<li>
				<span></span>Fecha y firma del solicitante.</li>
			<li>
				<span></span>Todo documento que acredite la petición que formula.</li>
		</ul>
		<p>
			<span>Esta solicitud y todo otro documento adjunto podrá enviarse a la siguiente dirección y/o correo electrónico:</span>
		</p>
		<ul>
			<li>
				<span></span>Dirección postal:
				<span>Bartolomé de Medina, num. 7 Bajo Sevilla 41.004</span>
			</li>
			<li>
				<span></span>Correo electrónico:
				<span>guigomi@globestone.es</span>
			</li>
		</ul>
		<p>
			<span>
				Tiene derecho a presentar una queja con respecto a nuestro uso de sus datos. Antes de nada, puede contactar con nosotros para tener la oportunidad de abordar sus inquietudes. Si fallamos en esto, puede dirigir cualquier queja a
							            la Agencia Española de Protección de Datos, ya sea llamando a su línea de ayuda o siguiendo las instrucciones en su sitio web en
				<a href="https://www.agpd.es">https://www.agpd.es</a>.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>CONSERVACIÓN DE LOS DATOS</span>
			</strong>
		</p>
		<p>&nbsp;</p>
		<ul>
			<li>
				<span></span>
				<u>Datos desagregados</u>: Los datos desagregados serán conservados sin plazo de supresión.</li>
			<li>
				<span></span>
				<u>Datos de los clientes de la tienda online</u>: El
				<span>período de conservación de los datos personales variará en función del servicio contratados por el cliente. En cualquier caso, será el mínimo necesario, pudiendo mantenerse hasta:</span>
				<ul>
					<li>4 años: Ley sobre Infracciones y Sanciones en el Orden Social (obligaciones en materia de afiliación, altas, bajas, cotización, pago de salarios…); Arts. 66 y sig. Ley General Tributaria (libros de contabilidad…);</li>
					<li>5 años: Art. 1964 Código Civil (acciones personales sin plazo especial)</li>
					<li>6 años: Art. 30 Código de Comercio (libros de contabilidad, facturas…)</li>
					<li>10 años: Art. 25 Ley de Prevención del Blanqueo de Capitales y Financiación del Terrorismo.</li>
				</ul>
			</li>
			<li>
				<span></span>
				<u>Datos de los suscriptores a la newsletter</u>: Desde que el usuario se suscribe hasta que se da de baja.</li>
			<li>
				<span></span>
				<u>Datos de usuarios subidos por La Empresa a páginas y perfiles en redes sociales</u>: Desde que el usuario ofrece su consentimiento hasta que lo retira.</li>
		</ul>
		<p>
			<span></span>
			<span></span>
		</p>
		<p>
			<strong>
				<span>REDES SOCIALES</span>
			</strong>
		</p>
		<p>
			<u style="font-size: 14px;">Presencia en redes</u>
			<span style="font-size: 14px;">: La Empresa cuenta con perfiles en algunas de las principales redes sociales de Internet.</span>
		</p>
		<ul>
			<li>
				<span></span>
				<u>Finalidad y legitimación</u>: El tratamiento que La Empresa llevará a cabo con los datos dentro de cada una de las referidas redes será, como máximo, el que la red social permita a los perfiles corporativos. Así
									            pues, La Empresa podrá informar, cuando la ley no lo prohíba, a sus seguidores por cualquier vía que la red social permita sobre sus actividades, ponencias, ofertas, así como prestar servicio personalizado de atención al
									            cliente.
			</li>
			<li>
				<span></span>
				<u>Extracción de datos</u>: En ningún caso La Empresa extraerá datos de las redes sociales, a menos que se obtuviera puntual y expresamente el consentimiento del usuario para ello.</li>
		</ul>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>¿ESTÁN SEGUROS LOS DATOS QUE RECOPILAMOS?</span>
			</strong>
		</p>
		<p>
			<span>Contamos con procedimientos físicos, electrónicos y de gestión para salvaguardar y asegurar la información que recopilamos.</span>
		</p>
		<p>
			<span>Y recuerde:
			</span>
		</p>
		<p>Proporciona datos personales bajo su propio riesgo: lamentablemente, no se garantiza que la transmisión de datos sea 100% segura</p>
		<p>Usted es responsable de su nombre de usuario y contraseña: ¡manténgalos en secreto y a salvo!</p>
		<p>Si cree que su privacidad ha sido violada, contáctenos inmediatamente en
			<span>guigomi@globestone.es</span>
		</p>
		<p>
			<span>
				La Empresa adopta medidas de seguridad razonablemente adecuadas para detectar la existencia de virus, ataques de fuerza bruta e inyecciones de código. No obstante, debe ser consciente de que las medidas de seguridad de los
							            sistemas informáticos en Internet no son enteramente fiables y que, por tanto, La Empresa_ no puede garantizar la inexistencia de virus u otros elementos que puedan producir alteraciones en los sistemas informáticos (software y
							            hardware) del usuario/cliente o en sus documentos electrónicos y ficheros contenidos en los mismos.
			</span>
		</p>
		<p>
			<span>No obstante, La Empresa dispone de un sistema de vigilancia de seguridad activo que informa de cada actividad de los usuarios y posibles brechas en la seguridad de los datos de los usuarios.</span>
		</p>
		<p>
			<span>En caso de detectarse alguna brecha, La Empresa se compromete a informar a los usuarios en el plazo máximo de 72 horas.</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>¿DÓNDE SE ALMACENAN SUS DATOS?</span>
			</strong>
		</p>
		<p>
			<span>Los datos personales que recopilamos se procesan
				<u>en nuestras oficinas en</u>
				y en cualquier instalación de procesamiento de datos operada por los terceros identificados a continuación.</span>
		</p>
		<p>
			<span>
				Al enviar sus datos personales, acepta que esta transferencia, almacenamiento o procesamiento sea realizada por nosotros. Si transferimos o almacenamos su información fuera del EEE de esta manera, tomaremos las medidas
							            necesarias para garantizar que sus derechos de privacidad continúen protegidos tal como se describe en esta Política de privacidad.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>Terceros que procesan tus datos</span>
			</strong>
		</p>
		<p>
			<span>
				Las empresas tecnológicas suelen recurrir a terceros para ayudarles a alojar su aplicación, comunicarse con los clientes, alimentar sus correos electrónicos, etc. Nos asociamos con terceros que creemos que son los mejores en su
							            campo en lo que hacen.
			</span>
		</p>
		<p>
			<span>
				Cuando hacemos esto, a veces es necesario que compartamos sus datos con ellos para que estos servicios funcionen bien. Sus datos se comparten solo cuando es estrictamente necesario y de acuerdo con las salvaguardas y buenas
							            prácticas detalladas en esta Política de privacidad.
			</span>
		</p>
		<p>
			<span></span>
		</p>
		<p>
			<strong>
				<span>CAMBIOS EN LA POLÍTICA DE PRIVACIDAD</span>
			</strong>
		</p>
		<p>
			<span>
				La Empresa se reserva el derecho a modificar su Política de Privacidad, de acuerdo con su propio criterio, o motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Española de Protección de Datos. Los
							            cambios o actualizaciones de esta Política de Privacidad serán notificados de forma explícita al Usuario.
			</span>
		</p>
		<p>
			<span>
				Esta Política de Privacidad fue actualizada el día 18 de junio 2018 para adaptarse al Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo
							            que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD).
			</span>
		</p>
		<p>&nbsp;</p>
	</div>

{% endblock content %}
