{% extends 'base.html' %} {% block content %}

<main class="service">
  <div class="first-content">
    <div class="row">
      <h1 class="title"></h1>
      <p class="description"></p>
      <a class="btn btn-primary" href="/contacto">TE LLAMAMOS</a>
    </div>
    <div class="main-image-container"><img src="" alt="" /></div>
  </div>

  <div class="why">
    <h2 class="why__title title ">¿Por qué escoger</h2>
    <p class="why__desc"></p>
  </div>

  <div class="slide-holder">
    <div class="slide"><img src="" alt=""></div>
    <h2 class="title">VENTAJAS</h2>
    <ul class="ventajas"></ul>
  </div>

  <div class="fabric">
    <h2 class="title">FABRICANTE</h2>
    <p class="fab"></p>
  </div>
</main>
{% endblock %}
