{% extends 'base.html' %} {% block content %}

<main class="service">
  <div class="first-content">
    <div class="row">
      <h1></h1>
      <div class="description"></div>
      <a class="btn btn-primary cta" href="/contacto">TE LLAMAMOS</a>
    </div>
    <div class="main-image-container"><img src="" alt="" /></div>
  </div>

  <div class="why">
    <h2 class="why__title title">¿Por qué escoger&nbsp;</h2>
    <p class="why__desc"></p>
  </div>

  <div class="second-img-cont">
    <img class="second" src="" alt="" />

    <div class="paraNegocio">
      <h2>Para tu negocio</h2>
    </div>
  </div>

  <div class="second-img-cont">
    <div class="paraVivienda">
      <h2>Para tu vivienda</h2>
    </div>
    <img class="second third" src="" alt="" />
  </div>

  <div class="slide-holder">
    <div class="slide">
      <p></p>
      <img src="" alt="" />
    </div>
    <div class="slide-content">
      <h2 class="title">Ventajas</h2>
      <div class="ventajas"></div>

      <h2 class="title fab-title">Fabricante</h2>
      <p class="fab"></p>
    </div>
  </div>

  <div class="callta">
    <p>Te asesoramos sobre la mejor opción para ti.</p>
    <a class="btn btn-primary" href="#">CONTACTAR</a>
  </div>
<section class="s m-bottom-3">
	<h2 class="s__title">¿Qué servicio te interesa?</h2>
	<div class="s__select-container">
		<div class="s__select"></div>
	</div>
</section>

</main>
{% endblock %}
