<div class="form-area margin-bottom">
  <h2 class="form-area__title">Contacto</h2>
  <p class="form-area__slogan">
    Puedes llamarnos, enviarnos un mail o preguntarnos lo que quieras
    directamente desde el formulario de contacto.
  </p>

  <div class="form-area-contacts">
    <p class="phone">
      <img src="/images/phone-icon.svg" alt="icon-phone" />
      &nbsp;&nbsp;662644021
    </p>
    <p class="email">
      <img src="/images/email-icon.svg" alt="icon-email" />
      &nbsp;&nbsp;info@lectika.es
    </p>
  </div>
  <form action="" class="form bg-primary">
    <div class="input">
      <input type="text" class="input-data" placeholder="Nombre:" />
    </div>

    <div class="input">
      <input type="text" class="input-data" placeholder="Mail:" />
    </div>
    <div class="input">
      <input
        type="text"
        class="input-data"
        placeholder="Télefono: (opcional)"
      />
    </div>
    <textarea class="textarea" placeholder="Dinos lo que quieras..."></textarea>
    <button class="btn btn-white btn-center btn-block">Enviar</button>
  </form>

</div>
