<footer class="footer">
	<img class="footer__w-logo" src="/public/images/w-logo.svg" alt="white logo"/>


	<div class="secs">
		<div class="footer__sec">
			<p class="footer__title">SECCIONES</p>

			<p class="footer__item"><a href="/sobre-globe-stone">SOBRE GLOBESTONE</a></p>
			<p class="footer__item">
				<a href="/#servicios">SERVICIOS</a>
			</p>


			<p class="footer__item"><a href="/contacto">CONTACTO</a></p>
			{# <p class="footer__item">FAQ</p>
			<p class="footer__item">BLOG</p> #}
		</div>


		<div class="footer__sec">
			<p class="footer__title">SÍGUENOS</p>
			<div class="footer__socials">


				<a href="https://www.linkedin.com/company/globestone-es/" target="_blank">
					<img class="footer__socials-icon" src="/public/images/li.svg" alt="li"/>
				</a>
				<a href="https://www.instagram.com/globestone.es/" target="_blank">


					<img class="footer__socials-icon" src="/public/images/in.svg" alt="in"/></a>
				<a href="https://www.facebook.com/watch/Globestone-Desarrollos-Energ%C3%A9ticos-107372891793889/" target="_blank">


					<img class="footer__socials-icon" src="/public/images/fa.svg" alt="fa"/></a>{#
																		        <img
																		          class="footer__socials-icon"
																		          src="/public/images/tw.svg"
																		          alt="tw"
																		        />
																		        #}</div>


			{# <div class="footer__sec">
									        <p class="footer__title">IDIOMA</p>
									      </div> #}
		</div>


		<div class="footer__terms-mobile">


			<p>
				<a href="/aviso-legal">Aviso legal</a>
			</p>
			<p>
				<a href="/politicas-de-privacidad">Política de privacidad</a>
			</p>


			<p>
				<a href="/politicas-de-cookies">Política de cookies</a>
			</p>

		</p>
	</div>


	<div class="footer__f-logo">


		<img class="" src="/public/images/f-logo.svg" alt="white logo"/>


		<div class="footer__terms">


			<p>
				<a href="/aviso-legal">Aviso legal</a>
			</p>
			<p>
				<a href="/politicas-de-privacidad">Política de privacidad</a>
			</p>


			<p>
				<a href="/politicas-de-cookies">Política de cookies</a>
			</p>

		</p>
	</div>
</div></div><p class="copy"><a href="/">&copy; globestone.es</a></p></footer>
