<div class="h-desktop">
  <div class="h-desktop__logo">
    <img src="/public/images/logo-desktop.png" alt="logo" />
  </div>
  <div class="h-desktop__links">
    <a class="h-desktop__link" href="#">SOBRE GLOBESTONE</a>
    <a class="h-desktop__link" href="#">SERVICIOS &#9658;</a>
    <a class="h-desktop__link" href="#">CONTACTO</a>
    <a class="h-desktop__link" href="#">FAQ</a>
    <a class="h-desktop__link" href="#">BLOG</a>
  </div>

  <div class="h-desktop__socials">
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-l.png"
      alt="linkein logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-i.png"
      alt="instagram logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-f.png"
      alt="facebook logo green"
    />
    <img
      class="h-desktop__socials-icon"
      src="/public/images/g-t.png"
      alt="twitter logo green"
    />
  </div>
</div>
