<div class="mobilemenu">
  <div class="mobilemenu__actions">
    <img
      class="mobilemenu__actions-action logo"
      src="/public/images/white-logo.svg"
      alt="white logo"
    />
    <img
      class="mobilemenu__actions-action homelink"
      src="/public/images/white-home.svg"
      alt="white home"
    />
    <img
      class="mobilemenu__actions-action closemenu"
      src="/public/images/white-close.svg"
      alt="white close"
    />
  </div>
  <div class="mobilemenu__links">
    <a class="mobilemenu__link" href="/sobre-globe-stone">SOBRE GLOBESTONE</a>
    <a class="mobilemenu__link" href="#">SERVICIOS &#9658;</a>
    <a class="mobilemenu__link" href="#">CONTACTO</a>
    <a class="mobilemenu__link" href="#">FAQ</a>
    <a class="mobilemenu__link" href="#">BLOG</a>
  </div>
  <div class="mobilemenu__socials">
    <img class="mobilemenu__socials-icon" src="/public/images/li.svg" alt="li" />
    <img class="mobilemenu__socials-icon" src="/public/images/in.svg" alt="in" />
    <img class="mobilemenu__socials-icon" src="/public/images/fa.svg" alt="fa" />
    <img class="mobilemenu__socials-icon" src="/public/images/tw.svg" alt="tw" />
  </div>
</div>
