.footer {
  position: relative;
  background-color: $primary;
  padding: 3rem 6rem;
  font-family: "Noto Sans", sans-serif;
  &__w-logo {
    position: absolute;
    top: 3rem;
    right: 4rem;
    width: 3rem;
    @media (min-width: 850px) {
      display: none;
    }
  }
  &__sec {
    margin-bottom: 2rem;
  }
  &__title {
    color: $secondary;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
  &__item {
    color: $white;
    font-weight: 600;
    font-size: 1.6rem;
    a {
      color: $white;
    }
  }

  &__terms {
    p {
      font-size: 1.4rem;
      a {
        color: $white;
      }
    }
  }

  &__socials {
    margin-bottom: 2rem;
    display: flex;
    gap: 1.4rem;
    &-icon {
      width: 3rem;
    }
  }

  .copy {
    text-align: center;
    font-weight: 600;
    a {
      color: $secondary;
    }
  }

  .secs {
    @media (min-width: 850px) {
      display: flex;
      gap: 3rem;
      align-items: flex-start;
    }
    @include lg {
      gap: 8rem;
    }
  }
  &__f-logo {
    display: none;
    @media (min-width: 850px) {
      width: 30rem;
      display: block;
      margin-left: auto;
      img {
        margin-bottom: 1rem;
      }
    }
  }
  &__terms-mobile {
    p {
      font-size: 1.4rem;
      a {
        color: $white;
      }
    }
    @media (min-width: 850px) {
      display: none;
    }
  }
}
