.footer {
  position: relative;
  background-color: $primary;
  padding: 3rem 4rem;
  font-family: "Noto Sans", sans-serif;
  &__w-logo {
    position: absolute;
    top: 3rem;
    right: 4rem;
    width: 3rem;
  }
  &__sec {
    margin-bottom: 2rem;
  }
  &__title {
    color: $secondary;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
  &__item {
    color: $white;
    font-weight: 600;
    font-size: 1.6rem;
  }

  &__terms {
    p {
      color: $white;
      font-size: 1.4rem;
    }
  }

  &__socials {
    display: flex;
    gap: 1.4rem;
    &-icon {
      width: 3rem;
    }
  }

  .copy {
    text-align: center;
    color: $secondary;
    font-weight: 600;
  }
}
