.h-desktop {
  display: none;
  @include xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    &__logo {
      width: 30rem;
    }
    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
    &__link {
      color: $primary;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &__socials {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      &-icon {
        width: 3rem;
      }
    }
    .activeLink{
      border-bottom: 3px solid $secondary;
      padding: 1rem;
    }
  }
}
