.header {
  width: 100%;
  height: 7.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  &__logo-container {
    width: 2.574rem;
    cursor: pointer;
  }
  &__menu-container {
    cursor: pointer;
  }
  @include xl{
    display: none;
  }
}
