.h-desktop {
  position: relative;
  display: none;
  @include xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    &__logo {
      width: 20rem;
    }
    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
    &__link {
      color: $primary;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &__socials {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      &-icon {
        width: 3rem;
      }
    }
    .activeLink {
      border-bottom: 3px solid $secondary;
      padding: 0;
    }
  }

  .desktop-services {
    background-color: #f7f7f7;

    border-bottom: 1rem solid $secondary;
    display: none;
    position: absolute;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    width: 100%;
    bottom: -24rem;
    z-index: 10;
    left: 0;
    padding: 0 0 2rem 53%;

    &__service {
      font-size: 1.6rem;
      font-family: "Noto Sans", sans-serif;
      a {
        color: $primary;
        &:hover {
          border-bottom: 2px solid $secondary;
        }
      }
    }
  }
}
