.mobilemenu {
  position: relative;
  z-index: 10;
  display: none;
  background-color: $primary;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    &-action {
      width: 3rem;
    }
    .logo {
      margin-right: auto;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2.5rem;
  }
  &__link {
    color: $white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &__socials {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    gap: 1.4rem;
    &-icon {
      width: 3rem;
    }
  }
  .closemenu,
  .homelink {
    cursor: pointer;
  }

  .mobile-services {
    display: none;
    list-style-type: none;
    padding-left: 5.2rem;
    flex-direction: column;
    gap: 1rem;

    li {
      color: $white;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.4rem;
      a {
        color: $white;
        font-family: "Noto Sans", sans-serif;
        font-size: 1.4rem;
        &:active{
          color: $secondary;
        }
      }
    }
  }
}
