html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*:before,
*:after,
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: #f7f7f7;
}
p {
  font-size: 2rem;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
} 

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}
