html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*:before,
*:after,
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: #f7f7f7;
}
p {
  font-size: 2rem;
  color: $grey35;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  color: $grey35;
}

.input {
  border: 2px solid #748b30;
  min-width: 18.4rem;
  height: 4.8rem;
  .text,
  .password {
  background-color: #f7f7f7;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    padding-left: 1.6rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
  }
}

.checkbox {
  cursor: pointer;
  max-width: max-content;

  .label {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .text {
    font-size: 1.7rem;
    font-family: "Noto Serif", serif;
    line-height: 1;
    background-color: #f7f7f7;
  }

  .checkmark {
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid $primary;
    display: inline-block;
    min-width: 3.2rem;
  }

  [type="checkbox"]:checked + .checkmark {
    background-image: url("../../public/images/checkbox.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


  [type="checkbox"] {
    display: none;
  }
}

.textarea {
  font-size: 1.7rem;
  padding: 1.6rem;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  border: 2px solid #748b30;
  display: block;
  width: 100%;
  height: 13.2rem;
}
