.m-bottom-2 {
  margin-bottom: 2rem;
}

.m-bottom-3 {
  margin-bottom: 3rem;
}

.m-bottom-4 {
  margin-bottom: 4rem;
}

.s {
  &__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    line-height: 1;
    padding-bottom: 1rem;
    @include lg {
      font-size: 4rem;
    }
  }
  &__select-container {
    width: 30rem;
    margin: 0 auto;
  }
  &__select {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid $primary;
    background-color: $white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 1rem 1.6rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 13px) center;
    background-size: 10px;
    &-item {
      font-size: 1.7rem;
      font-family: "Noto Serif", serif;
      line-height: 1;
      padding: 1rem;
      &:hover {
        border-bottom: 2px solid $secondary;
      }
    }
    &-item {
      display: none;
    }
  }
  @include md {
    margin-bottom: 4rem;
  }
  @include lg {
    margin-bottom: 6rem;
  }
}

.green-caret{
  color: $primary;
}

#opener {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}