.about {
  .intro {
    &__img-container {
      flex-basis: 50%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      padding: 5rem;
      @include lg {
        flex-basis: 50%;
        padding-right: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }

      @include xl {
        padding: 0 3rem;
      }
      // @include xxl {
      //   padding: 0 5rem;
      // }
    }
    &__title {
      color: $primary;
      font-family: "Montserrat", sans-serif;
      font-size: 2.6rem;
      line-height: 1;
      @include lg {
        font-size: 3.6rem;
        margin: 0;
      }

      @include xl {
        font-size: 5rem;
      }
      @include xxl {
        font-size: 6rem;
      }
    }

    &__subtitle {
      line-height: 1;
      margin: 2rem 0;
      @include lg {
        font-size: 3.6rem;
        margin: 0;
        margin-top: 2rem;
      }

      @include xl {
        font-size: 4rem;
      }
    }
    &__desc {
      font-size: 1.7rem;
      font-family: "Noto Serif", serif;
      font-weight: 600;
      line-height: 1.2;
    }

    @include lg {
      display: flex;
      height: 45rem;
      justify-content: center;
      gap: 2rem;
    }
  }
  .us {
    &__title {
      font-size: 2.2rem;
      text-align: center;
    }
    &__container {
      padding: 2.3rem 4.5rem;
      display: flex;
      overflow: auto;
      gap: 2.4rem;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }

    &__card {
      box-shadow: 0px 5px 5px #35353526;
      min-width: 260px;
      min-height: 326px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.2rem;
      gap: 1rem;
      &-imgcontainer {
        width: 17.2rem;
        height: 17.2rem;
        border-radius: 50%;
        background-color: #dda;
        overflow: hidden;
        align-self: center;
      }
      &-name {
        font-family: "Noto Serif", serif;
        font-size: 1.6rem;
        color: #353535;
        text-transform: uppercase;
      }
      &-desc {
        font-family: "Noto Sans", "sans-serif";
        color: #353535;
        font-size: 1.7rem;
        line-height: 1.2;
      }
    }
  }

  .r {
    padding: 4rem;
    &__title {
      line-height: 1.2;
      color: $primary;
      font-size: 2.2rem;
      font-family: "Montserrat", sans-serif;
      @include xl {
        font-size: 3.6rem;
      }
    }
    &__btn {
      margin: 2rem 0;
    }

    &__content {
      @include lg {
        flex-basis: 50%;
      }
    }

    &__img {
      @include md {
        max-width: 64rem;
        margin: 2rem auto;
      }
      @include lg {
        flex-basis: 50%;
      }
    }

    @include lg {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }

    @include xl {
      max-width: 120rem;
      margin: 0 auto;
    }
  }

  .socios {
    margin-bottom: 4rem;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      text-align: center;
      @include lg {
        font-size: 4rem;
      }
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
    }

    .socio {
      padding: 2.5rem;
      box-shadow: 0px 3px 6px #00000029;
      width: 30rem;
      img {
        width: 20rem;
        margin: 0 auto 1rem;
      }
      p {
        line-height: 1.2;
        font-size: 1.7rem;
        font-family: "Noto Sans", sans-serif;
        width: 22rem;
        margin: 0 auto;
      }
    }
    @include lg {
      margin-bottom: 8rem;
    }
    @include xl {
      max-width: 120rem;
      margin: 0 auto;
      margin-bottom: 8rem;
    }
    @media (min-width: 1620px) {
      max-width: unset;
      margin: 0 auto;
      margin-bottom: 8rem;
    }
  }
}
