.contact {
  padding: 0 3rem;
  &__title {
    font-size: 2.6rem;
    color: $primary;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
  }
  &__p {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Noto Serif", serif;
  }

  .socials {
    min-width: 21.6rem;
    max-width: 50rem;
    margin: 0 auto;
    p {
      margin-bottom: 2.3rem;
      display: flex;
      align-items: center;
      gap: 2.6rem;
      line-height: 1.2;
      img {
        width: 2rem;
      }
    }
  }

  .form-container {
    border: 2px solid $primary;
    box-shadow: 8px 8px 0px #0000001a;
    padding: 2rem;

    .title {
      font-weight: bold;
      color: $primary;
      font-size: 2.2rem;
      text-align: center;
    }
  }
  .r {
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
