.contact {
  &__first {
    @include lg {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 120rem;
      margin: 0 auto 4rem;
      gap: 5rem;
      padding: 0 2rem;
    }
  }

  &__i {
    margin: 2rem auto;
    @include md {
      max-width: 66rem;
    }
  }
  padding: 0 3rem;
  &__title {
    font-size: 2.6rem;
    color: $primary;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    @include xl {
      font-size: 4.8rem;
      line-height: 1;
    }
  }
  &__p {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Noto Serif", serif;
    line-height: 1.2;
  }

  .checks {
    .t {
      font-family: "Noto Serif", serif;
      font-size: 1.7rem;
      font-weight: bold;
      padding: 2rem 0;
      text-align: left;
      line-height: 1.2;
      @include xl {
        padding-top: 0;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 2rem;

      @include xl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include xl {
      flex-basis: 60%;
    }
  }

  .socials {
    min-width: 21.6rem;
    max-width: 50rem;
    margin: 2rem 0;
    p {
      margin-bottom: 2.3rem;
      display: flex;
      align-items: center;
      gap: 2.6rem;
      line-height: 1.2;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .form-container {
    border: 2px solid $primary;
    box-shadow: 8px 8px 0px #0000001a;
    padding: 2rem;
    margin-bottom: 4rem;

    .title {
      font-weight: bold;
      color: $primary;
      font-size: 2.2rem;
      font-family: "Montserrat", sans-serif;
      line-height: 1;
    }

    [type="submit"] {
      margin-top: 2rem;
    }
    @include md {
      max-width: 66rem;
      margin: 0 auto;
      margin-bottom: 6rem;
    }

    @include xl {
      max-width: 120rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 5rem;
      padding: 5rem;
      margin-bottom: 8rem;

      .rowOne {
        flex-basis: 25%;
      }

      .form {
        flex-basis: 75%;
        display: flex;
        gap: 5rem;
        align-items: flex-start;
      }
    }
  }
  .r {
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include xl {
      flex-basis: 40%;
      gap: 3.3rem;
    }
  }
}

.whatsapp {
  background-color: $primary;
  margin: 4rem 0rem;
  padding: 4rem;
  img {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: bold;
    color: $secondary;
    text-align: center;
    margin-top: 2rem;
  }
}

.more-socials {
  margin-bottom: 4rem;
  .img-cont {
    @include md {
      max-width: 50%;
    }
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    color: $primary;
    font-weight: bold;
    line-height: 1.2;
    padding: 2rem 3rem;
    @include lg {
      font-size: 2.6rem;
    }

    @include xl {
      font-size: 4rem;
    }
  }
  .socials-link {
    padding: 0 3.3rem 3.3rem;
    display: flex;
    gap: 3rem;
    img {
      width: 4rem;
    }
  }

  @include md {
    display: flex;
    align-items: center;
    .content {
      padding-right: 3rem;

      @include xl {
        max-width: 55rem;
      }
    }
    margin-bottom: 6rem;
  }

  @include xl {
    margin-bottom: 8rem;
    gap: 5rem;
  }

  @include xxl {
    gap: 10rem;
  }
}
