.contact {
  padding: 0 3rem;
  &__title {
    font-size: 2.6rem;
    color: $primary;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
  }
  &__p {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Noto Serif", serif;
    & + img{
      margin: 4rem 0;
    }
  }

  .checks {
    .header {
      font-family: "Noto Serif", serif;
      font-size: 1.7rem;
      font-weight: bold;
      padding: 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .socials {
    min-width: 21.6rem;
    max-width: 50rem;
    margin: 0 auto;
    p {
      margin-bottom: 2.3rem;
      display: flex;
      align-items: center;
      gap: 2.6rem;
      line-height: 1.2;
      img {
        width: 2rem;
      }
    }
  }

  .form-container {
    border: 2px solid $primary;
    box-shadow: 8px 8px 0px #0000001a;
    padding: 2rem;

    .title {
      font-weight: bold;
      color: $primary;
      font-size: 2.2rem;
      text-align: center;
    }

    [type="submit"] {
      margin-top: 2rem;
    }
  }
  .r {
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.whatsapp {
  background-color: $primary;
  margin: 4rem 0rem;
  padding: 4rem;
  img {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: bold;
    color: $secondary;
    text-align: center;
    margin-top: 2rem;
  }
}

.more-socials {
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    color: $primary;
    font-weight: bold;
    line-height: 1.2;
    padding: 3.3rem;
  }
  .socials {
    padding: 0 3.3rem 3.3rem;
    display: flex;
    gap: 3rem;
    img{
      width: 4rem;
    }
  }
}
