.home {
  @import "../components/_hero.scss";

  .services {
    &__title {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      @include lg{
        font-size: 4rem;
      }
    }

    &__container {
      padding: 2rem 2rem 0;
      display: flex;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      gap: 2rem;

      @include xl {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        gap: 4rem;
      }
    }
    &__item {
      border: 2px solid $primary;
      border-radius: 9rem;
      min-width: 27rem;
      min-height: 30rem;
      max-width: 27rem;
      max-height: 30rem;
      padding: 2.1rem 2.8rem 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include lg {
      }
      &-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.1;
        margin: 2rem 0;
      }
      &-desc {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.2;
      }
      &-icon {
        width: initial;
      }
    }
  }

  .s {
    &__title {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      @include lg{
        font-size: 4rem;
      }
    }
    &__select-container {
      width: 21.3rem;
      margin: 0 auto;
      height: 3.8rem;
    }
    &__select {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      border: 3px solid $primary;
      background-color: $white;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-right: 16px;
      padding-left: 16px;
      background-image: url("../../public/images/caret.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 13px) center;
      background-size: 10px;
    }
  }

  .dudas {
    &__content {
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.4rem;
      @include fe {
        padding: 2rem;
      }
    }

    &__title {
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      @include lg{
        font-size: 4rem;
      }
    }

    &__desc {
      line-height: 1.4;
      font-size: 1.7rem;
      font-family: "Noto Serif", serif;
      font-weight: 600;
    }
    @include md {
      max-height: 30rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__img-container {
        background-color: cadetblue;
        flex-basis: 50%;
        height: 30rem;
      }

      &__content {
        flex-basis: 50%;
        height: 30rem;
        padding: 0 10rem 0 6rem;
        justify-content: center;
      }

      &__img {
        width: 100%;
        height: 30rem;
        display: block;
        object-fit: cover;
      }
    }
  }

  .clients {
    &__images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
}
