.home {
  @import "../components/_hero.scss";
 
  .services {
    &__title {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      @include lg {
        font-size: 4rem;
      }
    }

    &__container {
      padding: 2rem 2rem 0;
      display: flex;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      gap: 2rem;

      @include xl {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        gap: 4rem;
      }
    }
    &__item {
      border: 2px solid $primary;
      border-radius: 9rem;
      min-width: 27rem;
      min-height: 30rem;
      max-width: 27rem;
      max-height: 33rem;
      padding: 2.1rem 2.8rem 2.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include lg {
      }
      &-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.1;
        margin: 2rem 0;
      }
      &-desc {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.2;
      }
      &-icon {
        width: initial;
      }
    }
    @include lg {
      margin-bottom: 6rem;
    }
  }



  .dudas {
    &__content {
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.4rem;
      @include fe {
        padding: 2rem;
      }
    }

    &__title {
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      @include lg {
        font-size: 4rem;
      }
    }

    &__desc {
      line-height: 1.4;
      font-size: 1.7rem;
      font-family: "Noto Serif", serif;
      font-weight: 600;
    }
    @include md {
      max-height: 30rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__img-container {
        background-color: cadetblue;
        flex-basis: 50%;
        height: 30rem;
        @include xl {
          height: 45rem;
        }
      }

      &__content {
        flex-basis: 50%;
        height: 30rem;
        padding: 0 10rem 0 6rem;
        justify-content: center;
        @include xl {
          height: 45rem;
        }
      }

      &__img {
        width: 100%;
        height: 30rem;
        display: block;
        object-fit: cover;
        @include xl {
          height: 100%;
        }
      }
    }
    @include md {
      margin-bottom: 6rem;
    }
    @include xl {
      max-height: 45rem;
    }
  }

  .clients {
    &__images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 4rem;

    .link {
      display: block;
      width: 100%;
      position: relative;
      @include lg {
        width: initial;
      }
      .copy {
        font-family: "Noto Sans", sans-serif;
        position: absolute;
        left: 1rem;
        top: 0;
        color: $white;
        font-size: 1.4rem;
      }
    }
    &__item {
      box-shadow: 5px 5px 6px #00000029;
      cursor: pointer;
      min-width: 30rem;
      width: 100%;
      height: 10rem;
      position: relative;
      overflow: hidden;
      &::before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: transparent
          linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.781) 0%,
            rgba(255, 255, 255, 0) 100%
          );
        opacity: 1;
      }
      &:hover::before {
        background: none;
      }

      @include md {
        height: 15rem;
      }
      @include lg {
        min-width: 23rem;
        width: 23rem;
      }
      @include xl {
        width: 27rem;
        height: 20rem;
      }
    }
    &__item-title {
      position: absolute;
      bottom: 1rem;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      font-size: 2.2rem;
      line-height: 1;
      color: $white;
      font-family: "Montserrat", sans-serif;
      @include md {
        bottom: 2rem;
      }
    }
    &__item-img {
      width: 100%;
      height: 100%;
      display: initial;
      object-fit: cover;
    }
    @include md {
      margin-bottom: 6rem;
    }
    @include lg {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0;
      max-width: 96rem;
      margin: 0 auto;
      margin-bottom: 8rem;
    }
    @include xl {
      gap: 4rem;
      max-width: 120rem;
    }
  }
}
