.service {
  .first-content {
    max-width: 72rem;
    margin: 0 auto 4rem;

    @include lg {
      max-width: none;
      margin-bottom: 6rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .main-image-container {
        max-width: 50%;
        flex-basis: 40%;
      }
    }

    @include lg {
      margin-bottom: 8rem;
      gap: 3rem;
    }

    @include xl {
      gap: 5rem;
    }
  }

  .row {
    flex-basis: 60%;
    padding: 0 3rem;

    .description {
      p {
        font-size: 1.7rem;
        font-weight: 600;
        font-family: "Noto Serif", serif;
        line-height: 1.2;
        margin-bottom: 1rem;

        @include xxl {
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
      }
    }

    .cta {
      margin: 1rem 0rem;
    }

    @include xl {
      padding-left: 10rem;
    }
  }

  h1 {
    color: $primary;
    font-size: 2.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1;

    @include lg {
      font-size: 3.6rem;
    }
  }

  .why {
    margin-bottom: 4rem;
    padding: 0 3rem;

    &__title {
      font-family: "Montserrat", sans-serif;
      text-align: left;
      font-size: 2.2rem;
      line-height: 1;
      margin: 2rem 0;

      @include lg {
        text-align: center;
      }
    }

    &__desc {
      font-size: 1.7rem;
      font-weight: 600;
      font-family: "Noto Serif", serif;
      line-height: 1.2;

      @include lg {
        text-align: center;
      }
    }

    @include md {
      max-width: 72rem;
      margin: 0 auto 6rem;
    }

    @include xl {
      margin-bottom: 8rem;
    }
  }

  .slide-holder {
    max-width: 72rem;
    margin: 0 auto 4rem;

    .slide-content {
      padding: 0 3rem;

      .iconlist {
        width: 3rem;
      }

      .fab {
        line-height: 1.2;
        font-family: "Noto Sans", sans-serif;
        font-size: 1.7rem;
      }
    }

    .ventajas {
      .item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 2rem;

        p {
          line-height: 1.2;
          padding-top: 0.6rem;
          font-family: "Noto Sans", sans-serif;
          font-size: 1.7rem;
        }
      }
    }

    .title {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      color: $primary;
      margin-bottom: 1rem;
    }

    @include md {
      margin-bottom: 6rem;
    }

    @include lg {
      margin-bottom: 8rem;
    }

    @include xl {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 5rem;
      max-width: 140rem;
    }
  }

  .slide {
    background-color: $primary;
    margin-bottom: 4rem;

    p {
      background-color: #f7f7f7;
      font-size: 1.4rem;
      font-family: "Noto Sans", sans-serif;
    }

    @include xl {
      margin-bottom: 0;
    }

    width: 100%;
    height: 25rem;

    @include fe {
      height: 40rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .callta {
    height: 20rem;
    background-color: #edefe3;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;

    p {
      color: $primary;
      font-size: 2.2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      text-align: center;
      line-height: 1.2;

      @include lg {
        font-size: 3.6rem;
      }
    }
  }

  .second-img-cont {

    h2 {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
      color: $primary;
      margin-bottom: 1rem;
    }
.paraNegocio,
.paraVivienda {
      padding: 0 3rem;

      @include xl {
        flex-basis: 60%;
      }
    }

    .item {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 2rem;

      .iconlist {
        width: 3rem;
      }

      p {
        line-height: 1.2;
        padding-top: 0.6rem;
        font-family: "Noto Sans", sans-serif;
        font-size: 1.7rem;
      }
    }

    @include md {
      max-width: 72rem;
      margin: 0 auto 6rem;
    }

    @include xl {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 5rem;
      max-width: 140rem;
    }

    .second {
      margin-bottom: 2rem;

      @include xl {
        flex-basis: 40%;
        margin-bottom: unset;
      }
    }
  }
}