.service {
  .first-content {
    margin-bottom: 4rem;
    @include md {
      margin-bottom: 6rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .main-image-container {
        max-width: 50%;
      }
    }

    @include lg {
      margin-bottom: 8rem;
      gap: 3rem;
    }
    @include xl {
      gap: 5rem;
    }
  }
  .row {
    padding: 0 3rem;
    .description {
      font-size: 1.7rem;
      font-weight: 600;
      font-family: "Noto Serif", serif;
      line-height: 1.2;
      @include xl {
        font-size: 2.6rem;
      }
    }
    .cta {
      margin: 2rem 0rem;
    }
    @include xl {
      padding-left: 10rem;
    }
  }
  h1 {
    color: $primary;
    font-size: 2.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1;
    @include lg {
      font-size: 3.6rem;
    }
  }

  .why {
    margin-bottom: 4rem;
    padding: 0 3rem;
    &__title {
      font-family: "Montserrat", sans-serif;
      text-align: left;
      font-size: 2.2rem;
      line-height: 1;
      margin: 2rem 0;
      @include lg {
        text-align: center;
      }
    }
    &__desc {
      font-size: 1.7rem;
      font-weight: 600;
      font-family: "Noto Serif", serif;
      line-height: 1.2;
      @include lg {
        text-align: center;
      }
    }
    @include md {
      margin-bottom: 6rem;
    }

    @include lg {
      max-width: 90rem;
      margin: 0 auto 6rem;
    }

    @include xl {
      margin-bottom: 8rem;
    }
  }
  .slide{
    width: 100%;
    height: 25rem;
    @include fe{
      height: 40rem;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
