<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/public/images/fav.svg"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/public/images/fav.svg"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/public/images/fav.svg"
      sizes="96x96"
    />

    <title>{% block title %}Globestone {% endblock %}</title>
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    {% for item in messages %}
    <div class="alert {{item.type}}">
      <p class="title">{{item.title}}</p>
      <p class="message">{{item.message }}</p>
    </div>

    {% endfor %} {{ include('./Themes/header-mobile.html') }}{{
    include('./Themes/header.html') }}{{ include('./Themes/mobile-menu.html') }}
    {% block content %}{% endblock %} {{ include('./Themes/footer.html') }}

    <script src="/js/main.js?v=25645" defer></script>

  </body>
</html>
